
html {
    color: rgb(255, 50, 50); background-color: rgb(249, 244, 244); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 16px;
    font-weight: 400;
    margin: 1;
}
h1{
    font-weight: 200;
}  
h2{
    font-weight: 100;
}
ul{
    color:rgb(8, 8, 8);
}
.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1em;
}
.grid ul{
    background-color: rgba(107, 212, 231, 0.64);
    padding: 2em;
}
.grid ul:hover{
    border: 1px solid rgb(124, 175, 192);
}
span{
    color: rgb(209, 236, 218); 
    font-weight: 600;
}
.boton{
    
    align-items:center;
    background-color: red;
    border-radius: 5px;
    color: rgb(253, 251, 253);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    height: 50px;
    width: 250px;
}

.boton:hover{
    background: rgb(3, 82, 21);
}

.imagen{
    background: center;
    border-radius: 50%;
    border: 1px solid var(--gris-oscuro);
    box-shadow: 8px 16px 32px 0px var(--shadow);
    height: 300px;
    margin-top: 80px;
    width: 300px;
}